<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Nueva Nota</h3>
        </div>
        <div class="card-body">
            <form action="/notas/nueva-nota" method="POST">
                <div class="form-group">
                    <input type="text" name="titulo" class="form-control" placeholder="Ingrese un titulo" autofocus>
                </div>

                <div class="form-group">
                    <textarea name="descripcion" class="form-control" placeholder="Ingrese una descripción"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>