<div class="jumbotron mt-4">
    <h1 class="display-4">Notas Web App</h1>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item">
            <i class="fab fa-node"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-js"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-npm"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-envira"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-bootstrap"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-html5"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-git"></i>
        </li>

    </ul>
    <hr class="my-4">
    <p class="lead">Aplicacion web de Notas, CRUD con base de datos y manejo de sesiones.<br>
        Realizada con Node.JS, MongoDB y librerias NPM como Express, Handlebars, Passport, Connect Flash y Bcryptjs.
    </p>
</div>