<div class="jumbotron mt-4">
    <h1 class="display-4">Matias Romera</h1>
    <hr class="my-4">
    <p class="lead">Estudiante de Analisis de Sistemas en busqueda de mi primer experiencia laboral en IT
        <br> <a href="https://romeramatias.github.io/" target="_blank">romeramatias.github.com</a> |
        <a href="https://github.com/romeramatias" target="_blank">github.com/romeramatias</a> |
        <a href="https://www.linkedin.com/in/romeramatias/" target="_blank">linkedin.com/romeramatias</a>
    </p>

</div>