<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 bg-dark">
    <a href="https://romeramatias.github.io/" target="_blank"> Romera Matias</a>
  </div>
  <!-- Copyright -->

</footer>