{{#if mens_exito}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{mens_exito}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}

{{#if mens_error}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{mens_error}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}