<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro
            </div>

            <div class="card-body">
                <form action="/usuarios/registrarse" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" name="nombre" placeholder="Ingrese su Nombre" value="{{nombre}}">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="email"
                            placeholder="Ingrese su Correo Electronico" value="{{email}}">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="pass" placeholder="Ingrese su Contraseña">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_pass"
                            placeholder="Ingrese nuevamente su Contraseña ">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block">
                            Registrarse
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>